extends layout.jade

block content
  h1 Inkomstkollen

  #container(style="min-width: 310px; height: 400px; margin: 0 auto", data-income_series=income_series, data-people_series=people_series)

  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
  script(src="/public/js/chart.js")
