doctype html
html(lang=sv)
  meta(charset="utf-8")
  head
    title Inkomstkollen
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/stylesheets/main.css')
  body
    div.container
      block content
